* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: $font-size;
    font-family: $font-family;
    font-weight: 300;
    color: $color-grayishBlue;
    min-width: 320px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

p {
    line-height: 25px;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    color: $color-darkBlue;
}

h2 {
    font-size: 1.8em;
}