@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;600;800&display=swap');

$color-darkBlue: hsl(233, 26%, 24%);
$color-limaGreen: hsl(136, 65%, 51%);
$color-brightCyan: hsl(192, 70%, 51%);
$color-grayishBlue: hsl(233, 8%, 62%);
$color-lightGrayishBlue: hsl(220, 16%, 96%);
$color-veryLightGray: hsl(0, 0%, 98%);
$color-white: hsl(0, 0%, 100%);

$font-size: 16px;
$font-family: 'Public Sans', sans-serif;